nbformat
plotly
pyyaml
# - argparse # native in python > 2.7
  - codetiming
  - emcee
  - lightkurve
  - loguru
  - numba
  - numpy
  - pandas
  - r-argparser
  - r-ifultools
  - r-lomb
  - r-modelr
  - r-numderiv
  - r-tidyverse
  - rpy2==3.3.*
  - scikit-learn
  - scipy